In [3]:
import numpy as np
import pandas as pd
frame=frame=pd.DataFrame(np.random.randn(4,3),columns=list('abc'),index=['utah','ohio','taxas','oregon'])
print(frame)
#print(np.abs(frame))# it convert negative values into positive
#print('value of b:=>',frame['b'].min())
#print('vlue of a:=> ',frame['a'].max())
#print('max c-min a:#',frame['c'].max()-frame['a'].min())
f=lambda x:x.max()-x.min()# we do not need any value for function
#df=frame.apply(f)
#print(df,type(df))
#df=frame.apply(f,axis=1)
#print(df)

# we can make our own function for calulating min and max values.
def min_max(x):
    minimum=x.min()
    maximum=x.max()
    return pd.Series([minimum,maximum],index=['min','max'])
df=frame.apply(min_max)
print(df)

               a         b         c
utah   -1.357795  0.164574 -1.111724
ohio    0.977153 -0.932840 -1.350904
taxas  -0.310829 -1.117572 -0.288066
oregon -1.193654 -0.369825  0.062004
            a         b         c
min -1.357795 -1.117572 -1.350904
max  0.977153  0.164574  0.062004

# sorting and ranking

In [32]:
import numpy as np
import pandas as pd
frame2=pd.DataFrame(np.arange(15).reshape((5,3)),
                    index=['zero','one','two','three','four'],
                   columns=['d','a','c'])
print(frame2)
print(" '.' ")
print(frame2.sort_index(axis=1,ascending=False,))#if you add axis it will sort Row
print(" '.' ")
print(frame2.sort_index(axis=1,))
print(" '.' ")
print(frame2.sort_index())# IT WILL sort columnwise

        d   a   c
zero    0   1   2
one     3   4   5
two     6   7   8
three   9  10  11
four   12  13  14
 '.'
        d   c   a
zero    0   2   1
one     3   5   4
two     6   8   7
three   9  11  10
four   12  14  13
 '.'
        a   c   d
zero    1   2   0
one     4   5   3
two     7   8   6
three  10  11   9
four   13  14  12
 '.'
        d   a   c
four   12  13  14
one     3   4   5
three   9  10  11
two     6   7   8
zero    0   1   2

In [41]:
print(frame2.sort_values(by='c'))
print(" ',' ")
print(frame2.rank(ascending=False,method='max',))
print(" ',' ")
print(frame2.rank(ascending=False,method='min'))
print(" ',' ")
print(frame2.rank(axis='columns'))

        d   a   c
zero    0   1   2
one     3   4   5
two     6   7   8
three   9  10  11
four   12  13  14
 ','
         d    a    c
zero   5.0  5.0  5.0
one    4.0  4.0  4.0
two    3.0  3.0  3.0
three  2.0  2.0  2.0
four   1.0  1.0  1.0
 ','
         d    a    c
zero   5.0  5.0  5.0
one    4.0  4.0  4.0
two    3.0  3.0  3.0
three  2.0  2.0  2.0
four   1.0  1.0  1.0
 ','
         d    a    c
zero   1.0  2.0  3.0
one    1.0  2.0  3.0
two    1.0  2.0  3.0
three  1.0  2.0  3.0
four   1.0  2.0  3.0

## sumrizing and computing descriptive statustics

In [54]:
df=pd.DataFrame([
    [1.4,np.nan],[3.2,-400231],
    [np.nan,np.nan],[0.5342,0.312]],columns=['s','d'])

print(df)
print(' "," ')
print(df.sum())
print(' "," ')
print(df.sum(axis=0))

        s           d
0  1.4000         NaN
1  3.2000 -400231.000
2     NaN         NaN
3  0.5342       0.312
 ","
s         5.1342
d   -400230.6880
dtype: float64
 ","
s         5.1342
d   -400230.6880
dtype: float64

In [71]:
df=pd.DataFrame([
    [1.4,np.nan],[3.2,-400231],
    [np.nan,np.nan],[0.5342,0.312]],columns=['s','d'])
print(df)
print("'' ")
print(df.mean(axis='columns',skipna=False))

        s           d
0  1.4000         NaN
1  3.2000 -400231.000
2     NaN         NaN
3  0.5342       0.312
''
0            NaN
1   -200113.9000
2            NaN
3         0.4231
dtype: float64

In [79]:
df1=pd.DataFrame([
    [1.2,3.1,np.nan,5.3],[np.nan,2.2,4.1,1.1],[1.1,4,2,np.nan],[np.nan,'1.1','2.1','5.2']],
    index=['j','k','l','m'],columns=['1st','2nd','3rd','4rth'])
print(df1)
print("these are unique ",df1['2nd'].unique(),df1['3rd'].unique() )
printdf1['2nd]'.value_counts()

SyntaxError: unexpected EOF while parsing (<ipython-input-79-77e6720e44a9>, line 6)