# Numpy Basics

In [1]:
import numpy as np

In [3]:
a_1d=np.array([1,2,3,4]) # id array
a_1d
type(a_1d)# tels type 
a_1d.ndim#tels dimension
a_1d.size # tels size of array it contain 4 elements
a_1d.shape

(4,)

In [4]:
b_2d=np.array([[1,2,3],[14,5,6]]) #2d array
b_2d
#b.ndim
b_2d.size# it contains 6 elements
b_2d.shape# returns tupple (row,colum)
b_2d.dtype# it tels data type our array contain

dtype('int64')

In [5]:
aad=np.array([[1,0,0,1],[0,0,0,0],[0,0,0,0],[1,0,0,1]])
aad

array([[1, 0, 0, 1],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [1, 0, 0, 1]])

In [6]:
# we can create matrix of 1 and 0 
ones_1=np.ones(5)
print("ones:",ones_1)
zeros_0=np.zeros(3)
print("zeros:",zeros_0)

ones: [1. 1. 1. 1. 1.]
zeros: [0. 0. 0.]

In [7]:
mx=np.ones((5,6))
mx

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [8]:
mx_z=np.zeros((3,5))
mx_z

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [9]:
#for generating int data
ones_a=np.ones((2,3),dtype='int')
ones_a

array([[1, 1, 1],
       [1, 1, 1]])

In [10]:
#changing data type
mx=np.ones((5,6),dtype=bool)
mx

array([[ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True]])

In [11]:
#changing data type
mx=np.ones((5,6),dtype=str)
mx

array([['1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1'],
       ['1', '1', '1', '1', '1', '1']], dtype='<U1')

In [12]:
#changing data type
mx_z=np.zeros((3,5),dtype=bool)
mx_z

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [13]:
#changing data type
mx_z=np.zeros((3,5),dtype=str)
mx_z

array([['', '', '', '', ''],
       ['', '', '', '', ''],
       ['', '', '', '', '']], dtype='<U1')

In [14]:
#creating empty matrix
em_mx=np.empty((3,3))
em_mx

array([[6.94009402e-310, 4.68038921e-310, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 5.02034658e+175],
       [2.38343243e+180, 3.88515051e-057, 9.04464940e-067]])

# numpy Function

In [15]:
#arange
#np.array(start,end,steps)
rg_1d=np.arange(1,13,1)
rg_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [16]:
#linespace
np.linspace(1,5,)

array([1.        , 1.08163265, 1.16326531, 1.24489796, 1.32653061,
       1.40816327, 1.48979592, 1.57142857, 1.65306122, 1.73469388,
       1.81632653, 1.89795918, 1.97959184, 2.06122449, 2.14285714,
       2.2244898 , 2.30612245, 2.3877551 , 2.46938776, 2.55102041,
       2.63265306, 2.71428571, 2.79591837, 2.87755102, 2.95918367,
       3.04081633, 3.12244898, 3.20408163, 3.28571429, 3.36734694,
       3.44897959, 3.53061224, 3.6122449 , 3.69387755, 3.7755102 ,
       3.85714286, 3.93877551, 4.02040816, 4.10204082, 4.18367347,
       4.26530612, 4.34693878, 4.42857143, 4.51020408, 4.59183673,
       4.67346939, 4.75510204, 4.83673469, 4.91836735, 5.        ])

In [17]:
#reshaping
rg_2d=rg_1d.reshape(4,3)
rg_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [18]:
rg_3d=rg_1d.reshape(1,6,2)
rg_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [19]:
ar_2d=np.arange(1,11).reshape(2,5)
ar_2d

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [20]:
#ravel() it convert multidimensional array into 1-d
ar_2d.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [23]:
#flaten it also convert mul-dims into 1-d
ar_2d.flatten('F')# fortan
print("another")
ar_2d.flatten('C')# C

another

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [24]:
#transpose
ar_2d.transpose()

array([[ 1,  6],
       [ 2,  7],
       [ 3,  8],
       [ 4,  9],
       [ 5, 10]])

# Mathematics operation using Numpy

In [25]:
x=np.arange(1,10).reshape(3,3)
y=np.arange(1,10).reshape(3,3)
print(x)
print(y)
#x+y
np.add(x,y)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [29]:
print(x)
print(y)
#x*y 
#np.multiply(x,y) for element vise multiplication
#for matrix product we use @
x@y

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [110]:
#also
x.dot(y)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [30]:
#x/y
np.divide(x,y)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [31]:
#for maximum value in a matrix
x.max()

9

In [32]:
y.min()

1

In [33]:
x.argmax()

8

In [34]:
y.argmin()

0

In [35]:
x

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [37]:
#we can find max and min value of row and matrix
x.max(axis=0)#for colum

array([7, 8, 9])

In [38]:
x.max(axis=1)#for row

array([3, 6, 9])

In [119]:
x.min(axis=0)#colum

array([1, 2, 3])

In [120]:
x.min(axis=1)#row

array([1, 4, 7])

In [121]:
#for sum of a matrix
np.sum(x)

45

In [122]:
np.sum(x,axis=0)#it add all each

array([12, 15, 18])

In [123]:
np.sum(x,axis=1)

array([ 6, 15, 24])

In [127]:
#for average of a matrix
np.mean(x)

5.0

In [132]:
#for sqr
np.sqrt(x)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 2.82842712, 3.        ]])

In [39]:
#standard division
np.std(x)

2.581988897471611

In [40]:
#for eponent
np.exp(x)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02],
       [1.09663316e+03, 2.98095799e+03, 8.10308393e+03]])

In [41]:
#for natural log
np.log(x)

array([[0.        , 0.69314718, 1.09861229],
       [1.38629436, 1.60943791, 1.79175947],
       [1.94591015, 2.07944154, 2.19722458]])

In [42]:
#for log base 10
np.log10(x)

array([[0.        , 0.30103   , 0.47712125],
       [0.60205999, 0.69897   , 0.77815125],
       [0.84509804, 0.90308999, 0.95424251]])

# Numpy array slicing(:)

In [44]:
nas=np.arange(1,101).reshape(10,10)
nas

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [45]:
#for row 3 forth element
nas[3,4]

35

In [46]:
nas[3,4].ndim

0

In [47]:
#for single row
nas[3]

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40])

In [48]:
#for single colum
nas[:,2]

array([ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93])

In [49]:
nas[:,0]

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [50]:
nas[:,0:1]# for 2d

array([[ 1],
       [11],
       [21],
       [31],
       [41],
       [51],
       [61],
       [71],
       [81],
       [91]])

In [53]:
nas[:,0:1].ndim

2

In [54]:
nas

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [55]:
#for acessing row and colum for 4*4 matrix
nas[0:4,0:4]

array([[ 1,  2,  3,  4],
       [11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34]])

In [57]:
#we can also draw 2*7 mtrx
nas[0:2,0:7]

array([[ 1,  2,  3,  4,  5,  6,  7],
       [11, 12, 13, 14, 15, 16, 17]])

In [58]:
#for acessing colums
nas[:,3:5]

array([[ 4,  5],
       [14, 15],
       [24, 25],
       [34, 35],
       [44, 45],
       [54, 55],
       [64, 65],
       [74, 75],
       [84, 85],
       [94, 95]])

In [61]:
#for acessing complete matrix
#use
#nas[:]
#nas[:,:]
nas[::]

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [62]:
#for checking stored item size
nas.itemsize

8

In [63]:
nas.dtype

dtype('int64')

In [64]:
64/8# 8 bytes are used for storing nas

8.0

In [71]:
#Numpy array concatenation and spliting
ar1=np.arange(1,17).reshape(4,4)
print("this is array 1",ar1)
print("this is array 2",ar2)
ar2=np.arange(17,33).reshape(4,4)

this is array 1 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
this is array 2 [[17 18 19 20]
 [21 22 23 24]
 [25 26 27 28]
 [29 30 31 32]]

In [73]:
#concatenate
np.concatenate((ar1,ar2))#for colum vise conc

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [75]:
#for row vise conc
np.concatenate((ar1,ar1),axis=1)

array([[ 1,  2,  3,  4,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  5,  6,  7,  8],
       [ 9, 10, 11, 12,  9, 10, 11, 12],
       [13, 14, 15, 16, 13, 14, 15, 16]])

In [76]:
#we can also use vstack and hstack
np.vstack((ar1,ar2))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32]])

In [77]:
np.hstack((ar1,ar2))

array([[ 1,  2,  3,  4, 17, 18, 19, 20],
       [ 5,  6,  7,  8, 21, 22, 23, 24],
       [ 9, 10, 11, 12, 25, 26, 27, 28],
       [13, 14, 15, 16, 29, 30, 31, 32]])

In [89]:
#split
np.split(ar2,4)#it will return list

[array([[17, 18, 19, 20]]),
 array([[21, 22, 23, 24]]),
 array([[25, 26, 27, 28]]),
 array([[29, 30, 31, 32]])]

In [88]:
np.split(ar1,2)

[array([[1, 2, 3, 4],
        [5, 6, 7, 8]]), array([[ 9, 10, 11, 12],
        [13, 14, 15, 16]])]

In [91]:
np.split(ar1,2,axis=1)

[array([[ 1,  2],
        [ 5,  6],
        [ 9, 10],
        [13, 14]]), array([[ 3,  4],
        [ 7,  8],
        [11, 12],
        [15, 16]])]

In [94]:
d1=np.array([4,2,5,1,7,9,8,5])
d1

array([4, 2, 5, 1, 7, 9, 8, 5])

In [97]:
np.split(d1,[2,4,7])

[array([4, 2]), array([5, 1]), array([7, 9, 8]), array([5])]