# Pandas:
    it is used for machien learning, Deeplearning ,for data science, data handling, data organizing and data analysis  .

In [31]:
import pandas as pd
obj=pd.Series([1,2,-5,-7,0.5])
print(obj)# pandas returns valuse and index

0    1.0
1    2.0
2   -5.0
3   -7.0
4    0.5
dtype: float64

In [32]:
#for values and index
sales=pd.Series([100,200,3,300,400])
print(sales.values)
print(sales.index)

[100 200   3 300 400]
RangeIndex(start=0, stop=5, step=1)

In [33]:
#we can change index
sales=pd.Series([12,1,2,3,4],index=['a','b','c','d','e'])
print(sales)
print(sales.values)
print(sales.index)

a    12
b     1
c     2
d     3
e     4
dtype: int64
[12  1  2  3  4]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [34]:
sales=pd.Series([12,1,2,3,4],index=['jan','feb','marc','aprl','may'],name='4 moth sales')
print(sales)

jan     12
feb      1
marc     2
aprl     3
may      4
Name: 4 moth sales, dtype: int64

In [35]:
#canteen sales
brgr=pd.Series([10,13,12,15,16,44,0],index=['mon','tues','wed','thr','fri','sta','sun'])
print(brgr)
print(brgr['wed'])#for acessing data
print(brgr[2])

mon     10
tues    13
wed     12
thr     15
fri     16
sta     44
sun      0
dtype: int64
12
12

In [36]:
#for multipple data
print(brgr[[2,3,4,5,6]])
print(brgr [['tues','fri']])

wed    12
thr    15
fri    16
sta    44
sun     0
dtype: int64
tues    13
fri     16
dtype: int64

In [37]:
#we can select data conditionaly
print(brgr>12)#method 1
print(brgr[brgr>12])

mon     False
tues     True
wed     False
thr      True
fri      True
sta      True
sun     False
dtype: bool
tues    13
thr     15
fri     16
sta     44
dtype: int64

In [38]:
brgr=brgr*3
print(brgr)

mon      30
tues     39
wed      36
thr      45
fri      48
sta     132
sun       0
dtype: int64

In [44]:
brgr=brgr/3

In [45]:
brgr

mon      3.333333
tues     4.333333
wed      4.000000
thr      5.000000
fri      5.333333
sta     14.666667
sun      0.000000
dtype: float64

In [47]:
#from numpy to pandas
import numpy as np
dta=np.array([12,34,55,66,777,88,12])
ind=np.array(['a','b','c','d','e','f','g'])
obj1=pd.Series(dta,index=ind)
obj1

a     12
b     34
c     55
d     66
e    777
f     88
g     12
dtype: int64